@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  background-color: var(--color-dark-50);
  width: 100%;
  margin: 0 auto; // center the wrapper
  padding-bottom: 150%; // for a 1080:720 ratio
  margin: 0 auto;

  @include small-break {
    width: 100%;
    height: calc(width * 1.5);
    
  }
}

.image {
  padding: 0px;
  object-fit: cover;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
}

.category {
  font-size: 16px;
}

.stock {
  color: var(--color-green-500);
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 30px 0;
}
